<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxt.third.core.dao.InterfaceLogMapper" >
  <resultMap id="BaseResultMap" type="com.dxt.third.core.entity.InterfaceLog" >
    <constructor >
      <idArg column="id" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="server_name" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="method_name" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="elapsed_time" jdbcType="NVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.dxt.third.core.entity.InterfaceLogWithBLOBs" >
    <constructor >
      <idArg column="id" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="server_name" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="method_name" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="type" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="remark" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="elapsed_time" jdbcType="NVARCHAR" javaType="java.lang.String" />
      <arg column="request_message" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
      <arg column="response_message" jdbcType="LONGVARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, server_name, method_name, type, create_time, update_time, remark, elapsed_time
  </sql>
  <sql id="Blob_Column_List" >
    request_message, response_message
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.dxt.third.core.entity.InterfaceLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_dxt_interface_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.dxt.third.core.entity.InterfaceLogExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_dxt_interface_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from t_dxt_interface_log
    where id = #{id,jdbcType=NVARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_dxt_interface_log
    where id = #{id,jdbcType=NVARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.dxt.third.core.entity.InterfaceLogExample" >
    delete from t_dxt_interface_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dxt.third.core.entity.InterfaceLogWithBLOBs" >
    insert into t_dxt_interface_log (id, server_name, method_name, 
      type, create_time, update_time, 
      remark, elapsed_time, request_message, 
      response_message)
    values (#{id,jdbcType=NVARCHAR}, #{serverName,jdbcType=NVARCHAR}, #{methodName,jdbcType=NVARCHAR}, 
      #{type,jdbcType=NVARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{remark,jdbcType=NVARCHAR}, #{elapsedTime,jdbcType=NVARCHAR}, #{requestMessage,jdbcType=LONGVARCHAR}, 
      #{responseMessage,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.dxt.third.core.entity.InterfaceLogWithBLOBs" >
    insert into t_dxt_interface_log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="serverName != null" >
        server_name,
      </if>
      <if test="methodName != null" >
        method_name,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="elapsedTime != null" >
        elapsed_time,
      </if>
      <if test="requestMessage != null" >
        request_message,
      </if>
      <if test="responseMessage != null" >
        response_message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=NVARCHAR},
      </if>
      <if test="serverName != null" >
        #{serverName,jdbcType=NVARCHAR},
      </if>
      <if test="methodName != null" >
        #{methodName,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        #{type,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="elapsedTime != null" >
        #{elapsedTime,jdbcType=NVARCHAR},
      </if>
      <if test="requestMessage != null" >
        #{requestMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseMessage != null" >
        #{responseMessage,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dxt.third.core.entity.InterfaceLogExample" resultType="java.lang.Integer" >
    select count(*) from t_dxt_interface_log
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_dxt_interface_log
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=NVARCHAR},
      </if>
      <if test="record.serverName != null" >
        server_name = #{record.serverName,jdbcType=NVARCHAR},
      </if>
      <if test="record.methodName != null" >
        method_name = #{record.methodName,jdbcType=NVARCHAR},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=NVARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=NVARCHAR},
      </if>
      <if test="record.elapsedTime != null" >
        elapsed_time = #{record.elapsedTime,jdbcType=NVARCHAR},
      </if>
      <if test="record.requestMessage != null" >
        request_message = #{record.requestMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="record.responseMessage != null" >
        response_message = #{record.responseMessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update t_dxt_interface_log
    set id = #{record.id,jdbcType=NVARCHAR},
      server_name = #{record.serverName,jdbcType=NVARCHAR},
      method_name = #{record.methodName,jdbcType=NVARCHAR},
      type = #{record.type,jdbcType=NVARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NVARCHAR},
      elapsed_time = #{record.elapsedTime,jdbcType=NVARCHAR},
      request_message = #{record.requestMessage,jdbcType=LONGVARCHAR},
      response_message = #{record.responseMessage,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_dxt_interface_log
    set id = #{record.id,jdbcType=NVARCHAR},
      server_name = #{record.serverName,jdbcType=NVARCHAR},
      method_name = #{record.methodName,jdbcType=NVARCHAR},
      type = #{record.type,jdbcType=NVARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=NVARCHAR},
      elapsed_time = #{record.elapsedTime,jdbcType=NVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxt.third.core.entity.InterfaceLogWithBLOBs" >
    update t_dxt_interface_log
    <set >
      <if test="serverName != null" >
        server_name = #{serverName,jdbcType=NVARCHAR},
      </if>
      <if test="methodName != null" >
        method_name = #{methodName,jdbcType=NVARCHAR},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=NVARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=NVARCHAR},
      </if>
      <if test="elapsedTime != null" >
        elapsed_time = #{elapsedTime,jdbcType=NVARCHAR},
      </if>
      <if test="requestMessage != null" >
        request_message = #{requestMessage,jdbcType=LONGVARCHAR},
      </if>
      <if test="responseMessage != null" >
        response_message = #{responseMessage,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.dxt.third.core.entity.InterfaceLogWithBLOBs" >
    update t_dxt_interface_log
    set server_name = #{serverName,jdbcType=NVARCHAR},
      method_name = #{methodName,jdbcType=NVARCHAR},
      type = #{type,jdbcType=NVARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NVARCHAR},
      elapsed_time = #{elapsedTime,jdbcType=NVARCHAR},
      request_message = #{requestMessage,jdbcType=LONGVARCHAR},
      response_message = #{responseMessage,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=NVARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxt.third.core.entity.InterfaceLog" >
    update t_dxt_interface_log
    set server_name = #{serverName,jdbcType=NVARCHAR},
      method_name = #{methodName,jdbcType=NVARCHAR},
      type = #{type,jdbcType=NVARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=NVARCHAR},
      elapsed_time = #{elapsedTime,jdbcType=NVARCHAR}
    where id = #{id,jdbcType=NVARCHAR}
  </update>
</mapper>