<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxt.third.core.dao.OrderMapper" >
  <resultMap type="com.dxt.third.core.entity.Order" id="BaseColumnMap">
    <id column="id" property="id"/>
    <result property="orderNo" column="order_no"/>
    <result property="mobile" column="mobile"/>
    <result property="payType" column="pay_type"/>
    <result property="storeId" column="store_id"/>
    <result property="totalAmount" column="total_amount"/>
    <result property="accountId" column="account_id"/>
    <result property="shopAssistant" column="shop_assistant"/>
    <result property="shopUser" column="shop_user"/>
    <result property="status" column="status"/>
    <result property="saleId" column="sale_id"/>
    <result property="remark" column="remark"/>
    <result property="stsinSaleId" column="stsin_sale_id"/>
    <result property="stsinRemark" column="stsin_remark"/>
    <result property="stsinStatus" column="stsin_status"/>
    <result property="stsoutSaleId" column="stsout_sale_id"/>
    <result property="stsoutRemark" column="stsout_remark"/>
    <result property="stsoutStatus" column="stsout_status"/>
    <result property="createTime" column="createTime"/>
    <result property="updateTime" column="update_time"/>
    <result property="delFlag" column="del_flag"/>
    <result property="mainMemo" column="main_memo"/>
    <result property="orgId" column="org_id"/>

  </resultMap>

  <sql id="Base_Column_List" >
    id, order_no, mobile, pay_type, store_id, total_amount, account_id, shop_assistant,
    shop_user, STATUS, sale_id, remark, stsin_sale_id,stsin_remark,stsin_status,stsout_sale_id
    ,stsout_remark,stsout_status,create_time, update_time, del_flag,main_memo,org_id
  </sql>

  <insert id="insert" parameterType="com.dxt.third.core.entity.Order">
    insert into t_dxt_sale_order ( id, order_no, mobile, pay_type, store_id, total_amount, account_id, shop_assistant,
    shop_user, STATUS, sale_id, remark, stsin_sale_id,stsin_remark,stsin_status,stsout_sale_id
    ,stsout_remark,stsout_status,create_time, update_time, del_flag,main_memo,org_id
      )
    values (#{id}, #{orderNo}, #{mobile},
      #{payType}, #{storeId}, #{totalAmount},
      #{accountId}, #{shopAssistant}, #{shopUser},
      #{status}, #{saleId}, #{remark},#{stsinSaleId},#{stsinRemark},#{stsinStatus},#{stsoutSaleId},
      #{stsoutRemark},#{stsoutStatus},
      #{createTime}, #{updateTime}, #{delFlag},#{mainMemo},#{orgId}
      )
  </insert>

  <select id="findOrderByNo" parameterType="java.lang.String" resultMap="BaseColumnMap">
    select <include refid="Base_Column_List"/>
    from t_dxt_sale_order
    where order_no =#{orderNo}
  </select>


  <select id="findOrderListByStatus">


  </select>

  <update id="updateStatusByOrderId" parameterType="com.dxt.third.core.entity.Order" >
      update t_dxt_sale_order
      <set>
        <if test="stsoutSaleId != null">
          stsout_sale_id = #{stsoutSaleId},
        </if>
        <if test="stsoutSaleId != null">
          stsout_remark = #{stsoutRemark},
        </if>
        <if test="stsoutSaleId != null">
          stsout_status = #{stsoutStatus},
        </if>

        <if test="stsinSaleId != null">
          stsin_sale_id = #{stsinSaleId},
        </if>
        <if test="stsinStatus != null">
          stsin_status = #{stsinStatus},
        </if>
        <if test="stsinRemark != null">
          stsin_remark = #{stsinRemark},
        </if>
      </set>
      where order_no = #{orderNo}
  </update>
</mapper>