<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dxt.third.core.dao.ProductMapper">
    <resultMap id="BaseResultMap" type="com.dxt.third.core.entity.Product">
        <id column="id" property="id"/>
        <result column="orderNo" property="order_no"/>
        <result column="product_id" property="productId"/>
        <result column="product_name" property="productName"/>
        <result column="product_price" property="productPrice"/>
        <result column="product_serial" property="productSerial"/>
        <result column="product_number" property="productNumber"/>
        <result column="remark" property="remark"/>
        <result column="createTime" property="createTime"/>
        <result column="updateTime" property="update_time"/>

    </resultMap>


    <sql id="Base_Column_List">
    id, order_no, product_id, product_name, product_price, product_serial, product_number, 
    remark, create_time, update_time
  </sql>

    <insert id="insert" parameterType="com.dxt.third.core.entity.Product">
    insert into t_dxt_sale_product (id, order_no, product_id, 
      product_name, product_price, product_serial, 
      product_number, remark, create_time, 
      update_time)
    values (#{id}, #{orderNo}, #{productId}, 
      #{productName}, #{productPrice}, #{productSerial}, 
      #{productNumber}, #{remark}, #{createTime},
      #{updateTime})
  </insert>


    <select id="findProudctSerial" resultType="java.lang.String">
    select ProductSerial from storeserial_one where billid = #{orderNo} and  productId = #{productId} and InsertSerial = #{insertSerial}
  </select>

    <select id="findProductList"  parameterType="java.lang.String" resultMap="BaseResultMap">
      select <include refid="Base_Column_List"/>
      from t_dxt_sale_product
      where order_no = #{orderNo}
    </select>
</mapper>